.header {
    display: flex;
    justify-content: space-between; 
}

.center  {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
    display: block;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
}




