.header {
    display: flex;
    justify-content: space-between; 
}

.center  {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
    display: block;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
}


#question {
    display: none;
    align-items: center;
    margin-top: 10%;
    flex-wrap: wrap;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#question button {
    width: 300px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.score-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

input {
    width: 200px;
    height: 20px;
}