.header {
    display: flex;
    justify-content: space-between; 
}

.center  {
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
    display: block;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
}
.newQuest0 {
    display: block;
    align-items: center;
    margin-top: 10%;
    flex-wrap: wrap;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
}

.question {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}


